:root {
  --btn-transparant: #000000;
  --btn-bakground-white: #ffffff;
  --btn-bakground-black: #000000;
  --btn-icon-white: #ffffff;
  --btn-icon-black: #000000;
  --btn-text-white: #ffffff;
  --btn-text-black: #000000;

  --btn-border: 1px solid #000;
  --btn-border-radius: 10px;

  --btn-font-size: 18px;
  --btn-icon-size: 20px;

  --complex-grid-shadow: 3px 3px 6px #c5c5c5;
  --complex-background: #fdfdfd;

  --trach-color: #c93737;
  --action-hover: #3c65df;
}
